/* ikiwiki style sheet */

body {
    background-color:   #FFA500;
    color:              #000000;
    font-family:        "Bitstream Vera Serif", Georgia, Serif;
}

h1,h2,h3 {
    font-family:        "Trebuchet MS", Sans-serif;
    clear:              both;
}

pre {
    background-color:   gray;
    color:              white;
    padding:            0.3em;
    font-family:        "Bitstream Vera Mono", monospace;
    font-size:          100%;
}

/*  Contenido generado por ikiwiki */
.ikiwiki {
    width:              75%;
    float:              left;
}

.header {
    border-width:       medium;
    border-style:       solid;
    background-color:   white;
    color:              #000000;
    padding:            0.5em;
    margin:             0.5em;
    text-align:         justify;
    letter-spacing:     0.3em;
}    

#content {
    border-width:       medium;
    border-style:       solid;
    background-color:   white;
    color:              #000000;
    padding:            0.5em;
    margin:             0.5em;
    text-align:         justify;   
    overflow:           auto;
    margin: 0.5em 12em 0.5em 0.5em;
}
    
#footer {
    border-width:       medium;
    border-style:       solid;
    background-color:   white;
    color:              #000000;
    padding:            0.5em;
    margin:             0.5em 12em 0.5em 0.5em;
    text-align:         justify;
    overflow: auto;
}    
   
.author {
    padding: 0.5em;
    text-align: right;
    font-size:  90%;
    font-style: italic;
}

#sidebar {
    width:              12em;
   	padding:            0 0 1em 0;
  	margin-bottom:      1em;
	  font-family:        monospace;
	  background-color:   #FFA500;
	  color:              white;
    clear:              both;
    position: absolute;
    right: 0.5em;
    top: ;0.5em;
}

#sidebar ul {
    list-style:         none;
    margin:             0;
    padding:            20px;
    border:             none;
    text-align: left;
}
		
#sidebar li {
	
	margin:             0;
}

#sidebar li a {
		display: block;
		padding: 5px 5px 5px 0.5em;
		background-color: #FFA500;
		color: black;
		text-decoration: none;
		width: 100%;
}

html>body #sidebar li a {
	width: auto;
}

#sidebar li a:hover {
	background-color: black;
	color: white;
}

#sidebar li .selflink {
		display: block;
		padding: 5px 5px 5px 0.5em;
		background-color: #FFA500;
		text-decoration: none;
		width: 100%;
}

div.imagebox {
    clear:   both;
    margin:  0.9em;
}

.imagebox {
  font-size:       large;
  font-family:     monospace;
  clear:           both;
  overflow: auto;
}

img  {
    border:         medium;
    padding:        0.3em;
}

/* RSS button. */
.feedbutton {
        background: #ff6600;
        color: white !important;
        border-left: 1px solid #cc9966;
        border-top: 1px solid #ccaa99;
        border-right: 1px solid #993300;
        border-bottom: 1px solid #331100;
        padding: 0px 0.5em 0px 0.5em;
        font-family: helvetica, arial, sans-serif;
        font-weight: bold;
        font-size: small;
        text-decoration: none;
        margin-top: 1em;
}
.feedbutton:hover {
        color: white !important;
        background: #ff9900;
}

.inlinepage {
        border: 1px solid;
        padding: 0.3em;
        margin: 0.3em 0 0.5em 0;
}

.url {
    font-size: large;
    padding: 0.5em;
    font-weight: bolder;
}

