
@import url("simplehtml.css");

body {
	margin: 0;
	padding: 0;
        max-width: none;
	}

body> .header {
	color: #ccccdd;
	background-color: #aaaac0;
	margin: 0px;
	padding: 12px 20px 12px 20px;
	font-family: helvetica, arial, sans-serif;
        font-size: large;
        font-weight: bold;
	}

body> .header a,
body> .header a:link,
body> .header a:visited,
body> .header a:active,
body> .header a:hover {
	color: #f7f7ff;
	}

.author {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	display: block;
}

#actions ul {
	margin: 0;
	padding: 6px;
	list-style-type: none;
	border-bottom: 1px solid #000;
}

#actions li {
	display: inline;
	padding: .2em .4em;
}

#searchform {
	display: inline;
	float: right;
}


#sidebar {
        background: #b8b8d0;
        line-height: 3ex;
        width: 20ex;
        float: right;
        margin-left: 40px;
        margin-bottom: 40px;
        padding: 2ex 2ex;
}


#sidebar a {
        text-decoration: none;
}

#sidebar .selflink {
	color: #f7f7ff;
}

#sidebar ul {
        margin: 0ex 0ex 0ex 0ex;
        padding: 0;
        list-style-type: none;
}

#sidebar LI {
        display: block;
}

#sidebar LI a:first-child:before,
#sidebar LI .selflink:first-child:before {
        /*content: "\25A3  "; ▣ */ 
        content: "\25F3  "; /* ◳ */
}

#container {
}

#content {
	margin: 1em 40px 10px 40px;
	max-width: 80ex;
        text-align: justify;
}

#editcontent {
	width: 100%;
}      

/* Stuff for the RecentChanges table. */
tr.changeheader {
	background: #eee;
	color: black !important;
}
tr.changeinfo {
	background: #eee;
	color: black !important;
}
th.changeheader {
	padding: 1px .3em;
}
td.changeinfo { 
	padding: 1px .3em;
}
td.changetime {
	white-space: nowrap;
	padding: 1px .3em;
}
td.changelog {
	font-style: italic;
}

/* Used for adding a blog page. */
#blogform {
	padding: 10px 10px;
	border: 1px solid #aaa;
	background: #eee;
	color: black !important;
}

.inlinepage {
	/*padding: 10px 10px;*/
	/*border: 1px solid #aaa;*/
	border-top: 1px solid #888888;
        padding-top: 2ex;
        margin-top: 2ex;
        margin-bottom: 4ex;
}

.inlinepage .header {
        color: red;
        font-size: large;
        font-weight: bold;
        text-transform: uppercase;
	}

body> #footer .tags {
        margin: 1em 0ex;
}

body> #footer #backlinks {
        margin: 1em 0ex;
}

body> #footer .pageinfo {
        margin: 1em 0ex;
}

body> #footer {
	border-top: 1px solid #888888;
	padding: 0ex 20px;
        margin: 1em 0ex;
        clear: both;
}

.pageinfo {
	font-style: italic;
	display: block;
}

/* Used for invalid form fields. */
.fb_invalid {
	color: red;
	background: white !important;
}

/* Used for required form fields. */
.fb_required {
	font-weight: bold;
}

/* RSS button. */
.rssbutton {
	background: #ff6600;
	color: white !important;
	border-left: 1px solid #cc9966;
	border-top: 1px solid #ccaa99;
	border-right: 1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.5em 0px 0.5em;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}
.rssbutton:hover {
	color: white !important;
	background: #ff9900;
}

/* Tag cloud. */
.pagecloud {
	float: right;
	width: 30%;
	text-align: center;
}
.smallestPC { font-size: 70%; }
.smallPC { font-size: 85%; }
.normalPC { font-size: 100%; }
.bigPC { font-size: 115%; }
.biggestPC { font-size: 130%; }
