/* resets and basic whatnot */
* { margin: 0; padding: 0; }
* .clear {clear: both;}
ul { padding: 0 0 20px 20px; }
p { margin: 0 0 20px 0; font-size: 15px; line-height: 20px; }
a img { border: 0px; }

a:link, a:visited { color: #f30; }
a:hover { color: #f90; }

/* site layout, header and footer styles */
.site { min-width: 600px; max-width: 800px; margin: 0 auto; position: relative;}

#header { padding-top: 60px; }
#header h1 { text-transform: uppercase; font-size: 26px; padding: 5px; }
#header ul { list-style: none; list-style-type: none; overflow: hidden; max-width: 550px; height: 40px; padding: 0px;}
#header ul li { position:relative;float: left;width: auto;display:block;margin: 0;padding:0px 10px 0px 0px; list-style: none; background: none; }

h2 { text-transform: uppercase; font-size: 20px; padding: 20px 5px 5px 0px; }

#footer { background-color: black; color: white; margin-top: 20px; padding: 5px 0px;}
#footer h2 { text-transform: uppercase; font-size: 14px; color: #f30; letter-spacing: 1px; line-height: 20px; padding: 5px 0px; }
#footer a:link, a:visited { color: #f30; }
#footer a:hover { color: #f90; }
#footer .footbox { float: left; width: 200px; padding: 10px 20px;}

/* the rest */
ul#posts { list-style: none; list-style-type: none; padding: 0; }
ul#posts .article_date { color: #aaa; font-family: Monaco, "Courier New", monospace; }
ul#projects { list-style: none; list-style-type: none; padding: 0; }
ul#projects a { margin-right: 20px; }
ul#projects li { margin-bottom: 5px; }
