<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>yob.id.au: <%= @page.title %></title>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom/index.xml" />
    <link rel="openid.server" href="http://www.livejournal.com/openid/server.bml" />
    <link rel="openid.delegate" href="http://yobbbo.livejournal.com" />
    <link href="/stylesheets/nanoc.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />

    <style type="text/css" media="screen">
    </style>
  </head>
  <body>
    <div id="main">
      <h1><%= @page.title %></h1>
<%= @page.content %>
    </div>
    <div id="sidebar">
      <h2>Pages</h2>
      <ul>
        <li><%= link_to("home", "/")%></li>
        <li><%= link_to("archive", "/archive/")%></li>
        <li><%= link_to("code", "/code/")%></li>
        <li><%= link_to("about", "/about/")%></li>
      </ul>
      <h2>Syndication</h2>
      <ul>
        <li><%= link_to("rss", "/index.rss")%></li>
        <li><%= link_to("atom", "/index.atom")%></li>
      </ul>
      <h2>about yob.id.au</h2>
      <p>I'm James Healy, a developer from <a href="http://www.flickr.com/places/Australia/Victoria/Melbourne">Melbourne, Australia</a>.</p>
      <p>I specialise at making websites, and I prefer <a href="http://www.ruby-lang.org">Ruby</a> when it's appropriate.</p>
      <p><%= link_to("Want more?", "/about/")%></p>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-369633-3");
      pageTracker._trackPageview();
    </script>
  </body>
</html>
